.iconStyle {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  object-fit: contain;
}

.imageIconStyle {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-left: 10px;
}

.desc {
  background-color: rgba(0,0,0,0.9);
  padding: 20px;
  border-radius: 10px;
}