.containedImage {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes float {
  0% {
    filter:blur(1px)
  }
  50% {
    filter:blur(2px)
  }
  100% {
    filter:blur(1px)

  }
}